.jumbotron {
    background-image: url(./../../../../assets/survey-back.png);
    background-size: cover;
}
.bg {
  /* The image used */
  background-image: url("./../../../../assets/Mars_Ice_Home_concept.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
