body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("./img/Mars_Ice_Home_concept.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.windowbg {
  background-color: rgb(50, 50, 50);
  margin: 20px;
  padding: 5px;
  width: 600px;
}

#map-view {
  height: 330px;
}
#map-canvas {
  background-image: url("./img/mars-map.png");
  background-clip: content-box;
  width: 590px;
  height: 320px;
}

#chat-view {
  height: 300px;
}
#chat-log {
  height: 252px;
  background-color: rgb(100, 100, 100);
  color: white;
}
#chat-input-group {
  padding-left: 5px;
  padding-right: 5px;
}

#trade-input {
  padding-left: 5px;
  padding-right: 5px;
}

#production-input {
  padding-left: 5px;
  padding-right: 5px;
}

#production-view {
  padding-left: 5px;
  padding-right: 5px;
}

#production-progress {
  color: white;
}

td {
  text-align: right;
}
.inventory-full {
  color: grey;
}
.inventory-bonus {
  color: lightgreen;
}
.inventory-low {
  color: red;
}
