body, html {
  height: 100%;
  background-color: rgb(89, 71, 50);
}
.bg {
  /* The image used */
  background-image: url("./../../../../assets/Mars_Ice_Home_concept.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.windowbg {
  background-color: rgb(50, 50, 50);
  margin-bottom: 20px;
  padding: 5px;
  /* width: 600px; */
}

.title {
  color: white
}

#colony-title-container {
}

#colony-title {
  font-size: 20px;
  text-align: center;
  width: 450px;
}

#map-view {
  height: 354px;
}
#map-container {
  /* padding-left: 5px;
  padding-right: 5px; */
}
#map-canvas {
  background-image: url("./../../../../assets/mars-map.png");
  /* background-position: center;
  background-clip: content-box; */
  background-size: 100%;
  height: 320px;
  width: 100%;
}

#chat-view {
  height: 342px;
}
#chatTabs {
  background-color: rgb(200, 200, 200);
}
#chat-log {
  height: 225px;
  background-color: rgb(100, 100, 100);
  color: white;
  border: 1px solid white;
  overflow: auto;
  padding: 2px;
}
#chat-input-group {
  padding-left: 5px;
  padding-right: 5px;
}

.chatTabWarning {
  animation-name: chatTabWarningFade;
  animation-duration: 1s;
  background-color: rgb(319, 229, 86);
}
@keyframes chatTabWarningFade {
  from {background-color: rgb(200, 200, 200);}
  to {background-color: rgb(319, 229, 86);}
}

.nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
}
.nav-tabs>li {
  float: none;
}

#score {
  color: white;
  background-color: rgb(30, 30, 30);
  padding: 10px;
}

#trade-input {
  padding-left: 5px;
  padding-right: 5px;
}

#production-input {
  padding-left: 5px;
  padding-right: 5px;
}

#production-view {
  padding-left: 5px;
  padding-right: 5px;
}

td {
  text-align: right;
}
.inventory-low {
  color: red;
}

/* for creating the blinking text effect it is animated */
.inventory-critial {
  color: red;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#event-log {
    height: 205px;
    background-color: rgb(100, 100, 100);
    color: white;
    overflow: auto;
    padding: 2px;
    border: 1px solid white;
}

#time-left {
  color: white;
  background-color: rgb(30, 30, 30);
  padding: 10px;
}
