/*
  You can define css freely.

  Note that the css here applies not only on the
  admin but also on clients. You are free to use
  this feature-not-a-bug as you like, but we suggest
  prefixing admin-specific css to avoid unwanted
  behaviour.
*/
#graphs {
  padding-top: 5px;
}
.row {
  margin-bottom: 10px;
}
.card {
  width: 20rem;
}
